.flexbox-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.animal-box {
  width: 270px;
  height: 360px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.animal-box > img {
  width: 270px;
  height: 270px;
  border-radius: 5px 5px 0px 0px;
}

.animal-box a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-age-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.name-age-wrapper > h3 {
  margin: 0;
}

.animal {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.animal img {
  width: 100%;
  border-radius: 5px;
}

.desc {
  padding: 20px;
  text-align: start;
}

zoo-per-animal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 28px;
}

.age {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}
